*{
    margin: 0;
}

body{
    
    background: linear-gradient( gray, white, lightgray );
}

.main{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    background-color: white;
    width: 1030px;
    margin: 100px auto;
    border: 2px solid rgb(255, 0, 0);
    padding: 10px;
}

.aa{
    background-color: green;
    grid-row: 1/4;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.bb{
    background-color: green;
    grid-column: 2/4;
    box-shadow: 0px 0px 5px gray;
}

.cc{
    background-color: red;
    grid-column: 4/5;
    box-shadow: 0px 0px 5px gray;
}

.dd{
    background-color: yellow;
    box-shadow: 0px 0px 5px gray;
}

.ee{
    background-color: red;
    box-shadow: 0px 0px 5px gray;
}
.ff{
    background-color: yellow;
    grid-column: 4/3;
    box-shadow: 0px 0px 5px gray;
}
.gg{
    background-color: red;
    grid-column: 2/3;
    grid-row: 3/4;
    box-shadow: 0px 0px 5px gray;
}

.hh{
    background-color: green;
    grid-row: 2/4;
    grid-column: 4/5;
    box-shadow: 0px 0px 5px gray;
}